.media-big__scrin{
    display:none;
}
@media all and (min-width:760px){
    .media-big__scrin{
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        left: 0;
        background-color: tomato;
        display:flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 36px;
    }
}
