.settings{
    width:90%;
    height:800px;
    display:flex;
    flex-flow: column;
}
.settings-menu__ul{
    width:100%;
    height:100%;
    display:flex;
    flex-flow: column;
}
.settings-list{
    margin:15px 15px 15px 0px;
}
.settings-list > .settings-list__title{
    margin-left:20px;
}
.settings-list > span{
    font-size: 22px;
}